html{
  font-size: 62.5%;
  
}

*{
  padding: 0%;
  margin: 0%;
}

body {
  background-color: rgb(250, 235, 215);
}
.menu {
  width: 3%;
}

.logo {
  width: 8vw;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  padding-bottom: 0%;
}
div.cover {
  height: 75vh;
  width: 100%;
  background-image: url(/Images/Fabric_1.jpg);
  background-size: cover;
  background-position: center;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 1vw;
  
  justify-content: end;
}
nav ul li{
  padding: 8px 4px;
  
}
nav ul li:hover{
  background-color: rgba(250, 235, 215,0.5);

}

nav ul li a {
  text-decoration: none;
  color: azure;
  font-size: 1.3vw;
  font-family: sans-serif;
 
  margin: 10vw 2vw 100vw 2vw;
}
h1 {
  color: aliceblue;
  font-size: 10vw;
  margin-top: 15vh;
  margin-bottom: 0px;
  margin-left: 7vw;
}
h5 {
  color: rgb(255, 255, 255);
  font-size: 4vw;
  margin: 5px 7vw 10vh 9vw;
  padding: 0px;
}

.coverCon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.consult {
  margin: 12rem 17rem 6rem 3rem;
  background-color: rgb(28, 192, 242);
  border: none;
  padding: 2vw 4vw;
  font-size: 35px;
  border-radius: 6vw;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}
.consult:hover {
  background-color: rgb(255, 255, 255);
  transform: scale(1.1);
  color: rgb(28, 192, 242);
}
.rev {
  background-color: white;
  height: 20vh;
  width: 60%;
  margin: 0px 20vw 0px 20vw;
  padding: 20vh 30px 0vh 30px;
  text-align: center;
}

.OneContA {
  display: flex;
  flex-direction: row;
  margin: 40vh 10vw 10vh 10vw;
}

.leh {
  height: 20px;
  width: 40px;

  width: 50vw;
  height: auto;
}

.fypl {
  font-size:6rem;
  text-align: center;
  color: black;
  margin: 10rem 1rem 3rem 7rem;
  line-height: 5.5rem;
}



.explore {
  margin: 1rem 3rem 4rem 12rem;
  background-color: rgb(28, 192, 242);
  border: none;
  padding: 2vw 4vw;
  font-size: 35px;
  border-radius: 6vw;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.explore:hover {
  background-color: rgb(255, 255, 255);
  transform: scale(1.1);
  color: rgb(28, 192, 242);
}


.OneContB {
  display: flex;
  flex-direction: row-reverse;
  margin: 15vh 10vw;
}

.sno {
  height: 20px;
  width: 40px;

  width: 50vw;
  height: auto;
}

.sigstyle {
  font-size:6rem;
  text-align: center;  
  color: black;
  margin: 2rem 7rem 1rem 1rem;
  line-height: 5.5rem;
}

.cus{
  margin: 1rem 5rem 4rem 7rem;
  background-color: rgb(28, 192, 242);
  border: none;
  padding: 2vw 2vw;
  font-size: 35px;
  border-radius: 6vw;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.cus:hover {
  background-color: rgb(255, 255, 255);
  transform: scale(1.1);
  color: rgb(28, 192, 242);
}


footer {
  display: flex;
  justify-content: space-between;
  align-items: center;           
  padding: 10px 20px;            
  background-color: #527DCC;    
}

.flinks {
  display: flex; 
}

.flinks ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;        
  gap:3rem;            
}

.flinks li a {
  text-decoration: none;
  color: white;        
  font-size: 1.5rem;    
}

.smi {
  display: flex;        
  gap: 2rem;            
}

.smicons {
  width: 30px;          
  height: 30px;         
  cursor:pointer;

}

.homvid{
    height: 60vh;
    width:auto;
    margin: 7vh 7vw 7vw 7vw;

   
}



@media screen and (max-width: 800px)
{


  .menu {
    width: 4vw;
    margin-left: 2rem;
  }
  
  .logo {
    width: 15vw;
  }

  div.cover {
    
    height: 60vh;
    background-image: url(/Images/Fabric_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  nav ul {
   
    display: flex;
    justify-content: space-between;
    justify-content: end;
  }

  nav ul li {
    list-style-type: none;
  
    display: inline-block;
    padding: 20px 3.5vw;
  }
  
  nav ul li a {
    text-decoration: none;
    color: azure;
    font-size: 1.6rem;
    font-family: sans-serif;
  }


  h1 {
    color: aliceblue;
    text-align: center;
    font-size: 18vw;
    margin: 2vh 0rem 1rem 0rem ;
  }
  h5 {
    color: rgb(255, 255, 255);
    font-size: 6vw;
    text-align: center;       
    padding: 0px;
    margin: 1rem 0rem 2rem 0rem ;
  }
  
  .coverCon {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
  }
  
  .consult {
    margin: 0rem 3rem 4rem 3rem;
    background-color: rgb(28, 192, 242);
    border: none;
    padding: 2rem 4rem;
    font-size: 8vw;
    border-radius: 6rem;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }

  .rev {
    background-color: white;
    height: 20vh; 
    margin: 0px 20vw 0px 13vw;
    padding: 7vh 30px 5vh 30px;
    text-align: center;
  }
  

  .OneContA {
    display: flex;
    flex-direction:column;
    margin: 30vh 0vw 0vh 10vw;
  }

  .leh { 
  
    width: 75vw;
    height: auto;
    align-items: center;
  }

 .OneContAQ{
  width: 50%;
 }


.fypl {
  
  font-size:12vw;
  text-align: left;
  color: black;
  margin: 2rem 4vw 4rem 0vw;
  line-height: 11vw;
 
}



.explore {
  
  margin: 2rem 4vw 3rem 0vw;
  background-color: rgb(28, 192, 242);
  border: none;
  padding: 2vw 4vw;
  font-size: 35px;
  border-radius: 6vw;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}



.OneContB {
  display: flex;
  flex-direction: column;
  margin: 15vh 10vw;
}

.sno
  { 
  
    width: 75vw;
    height: auto;
    align-items: center;
  }

.sigstyle {
  font-size:12vw;
  text-align:right;
  color: black;
  margin: 2rem 4vw 4rem 0vw;
  line-height: 10vw;
   
}

.cus{
  position: absolute; /* Positions relative to the closest positioned ancestor */
            /* Vertical position */
  right: 4rem; 
  
  background-color: rgb(28, 192, 242);
  border: none;
  padding: 2vw 2vw;
  font-size: 32px;
  border-radius: 5vw;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}


footer {
  display: flex;
  justify-content: space-between;
  align-items: center;           
  padding: 10px 20px;            
  background-color: #527DCC;    
}

.flinks {
  display: flex; 
}

.flinks ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;        
  gap:3vW;            
}

.flinks li a {
  text-decoration: none;
  color: white;        
  font-size: 3vw;    
}

.smi {
  display: flex;        
  gap: 2rem;            
}

.smicons {
  width: 30px;          
  height: 30px;         
  cursor:pointer;

}
  

  .homvid{
 
    width:60vw;
    margin: 7vh 7vw 7vw 7vw;

   
}


}   